body {
  padding: 30px;
}

h3, h4 {
  margin-top: 0;
}

#movies-list {
  padding: 10px;
  background-color: #2e2e2e
}

#release-year > div {
  background-color: #5d5d5d;
  margin-left: 16px;
  padding: 0;
  text-align: center;
  border-radius: 3px;
  height: 22px;
  margin-bottom: 10px;
  cursor: pointer;
}

#release-year > div > p {
  color: #fff;
}

.with-margin-top {
  margin-top: 60px;
}

.thumbnail {
  cursor: pointer;
}

footer {
  clear: both
}

#create-movie > div {
  text-align: center;
  margin-bottom: 20px;
}

.panel-simple {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-simple > .panel-heading {
  font-size: 1.4em;
  background-color: #dedede;
}

.panel-heading > h4#title {
  padding-top: 10px;
}

#movie-overview > p {
  margin-left: 20px;
}

.panel-buttons {
  float: right;
}

#filter-bar hr {
  border-color: #cac6c6;
}

#search, #search-box button {
  border-radius: 0;
}

#search-box {
  margin-bottom: 20px;
}

#navbar {
  min-height: initial;
  height: 55px;
}

#navbar img, #navbar #create-movie {
  margin-top: 2px;
}

#navbar img {
  float: left;
  margin-right: 10px;
}

#navbar #admin-name {
  line-height: 36px;
}

#navbar #admin-name h4 {
  margin-bottom: 0;
}

#navbar #admin-name h5 {
  margin: 0;
  color: #a0a0a0;
}

span.notice {
  text-align: center;
  color: #a6a6a7;
}
#cover-img {
  cursor: pointer;
}
.avatar-img-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
.avatar-img-container img {
  width:100%;
}
.avatar-img-container:hover i {
  background: rgba(0,0,0,.3);
  display: block;
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #fff;
  padding-top: 15px;
}
.avatar-img-container i {
  background:rgba(0,0,0,0.3);
  display: block;
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #fff;
}

#movie-cast-form .form-group {
  display: flex;
  align-items: center;
}

.panel-heading > h4#title {
  padding-top: 10px;
}