<div ng-controller="adminCtrl">
  <div id="filter-bar" class="col-xs-3">
  <form role="search">
    <div class="form-group">
      <label for="type">Time</label>
      <select class="form-control" ng-model="filters.time">
        <option value="8.64e+7">last day</option>
        <option value="6.048e+8">last weak</option>
        <option value="2.628e+9">last month</option>
        <option value="3.154e+10">last year</option>
        <option value="all">all time</option>
      </select>
    </div>
    <hr width=100%>
    <div class="form-group">
      <div class="radio">
        <label for="order">
          <input type="radio" name="watch" value="watched" ng-model="watched">Unfavored Movies
        </label>
      </div>
      <div class="radio">
        <label for="order">
          <input type="radio" name="watch" value="unwatched" ng-model="unwatched"> Unwatched Movies
        </label>
      </div>
    </div>
    <hr width=100%>
    <div class="form-group">
      <label for="order">Sort by</label>
      <select class="form-control" ng-model="filters.order">
        <option value="mostWatched">most watched</option>
        <option value="oldest">oldest</option>
        <option value="newest">newest</option>
      </select>
    </div>
    <div class="btn-group">
      <button class="btn btn-default" id="search" type="submit" ng-click="filter(filters)">Search</button>
      <button class="btn btn-default" id="clear">Clear</button>
    </div>
  </form>
  </div>
  <div class="col-xs-9">
    <div class="well" id="search-box">
      <form>
        <label for="search">Srearch by title:</label>
        <div class="input-group add-on">
          <input type="text" class="form-control" placeholder="movie title" name="filter" id="search" ng-model="title">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="lookUp(title)">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
      <br/>
      <div id="create-movie" class="row">
        <div class="col-xs-12">
          <button class="btn btn-lg btn-success">Create A New Movie</button>
        </div>
      </div>
    </div>
    <table id="admin-movies-list" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Picture</th>
          <th>Title</th>
          <th>Date Added</th>
          <th>Total Watches</th>
          <th>Favorites</th>
          <th>Global Activity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="movie in data.movies">
          <td>
            <img class="img-responsive img-rounded" src="{{ movie.cover.path }}">
          </td>
          <td>{{ movie.title }}</td>
          <td>{{ movie.dateAdded }}</td>
          <td>{{ movie.totalWatches }}</td>
          <td>{{ movie.favorites }}</td>
          <td>
            <canvas width="200" height="100"></canvas>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-default">Edit</button>
              <button class="btn btn-default">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>